<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-dark" style="height: 620px;">
        <ul class="list-group list-group-flush  ">
            <li class="list-group-item py-3 bg-dark text-white">Home</li>
            <li class="list-group-item py-3 bg-dark text-white"><a style="text-decoration: none;color: white;" routerLink="/dashboard/all-employees">Employees</a></li>
            <li></li>

          </ul>     
         </div>
      <div class="col-9"></div>
    </div>
  </div>
  